#subtit{
    text-align: center;
    margin: 30px;
    background-color: #bc8fbc;
    font-size: 20px;
    padding: 8px;
    width: 96%;
    font-family:serif;
}
h4{
    text-align:center;
    background-color:darkgray;
    color:darkblue;
    margin: 25px;
    font-size: 20px;
    padding: 8px;
    width: 20%;
    font-family: monospace;
}
p{
    text-align:justify;
    font-size: 17px;
    margin: 0px;
    font-family:sans-serif;
}

.logos{
    float: center;
    display: block;
    text-align: center;
}